/* Your CSS Code here. */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Movie Poster */
.moviePic {
    height: 350px;
    width: 250px;
    opacity: 0.9;
    display: block;
    margin: 40px auto;
    border-radius: 10px;
}

/* Movie Description */
.movieDetail {
    position: relative;
    top: 10px;
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    background: white;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
